body{
    font-family: 'Poppins', sans-serif;

}
.manu-bar{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.manu-bar{
    margin-left: 120px;
    margin-top: 87px;

}
.navigation ul{
    display: flex;
}
.navigation ul li{
    text-decoration: none;
    padding-left: 20px;
    border: 50px;
    list-style-type: none;
    font-weight: 800;
}

.top-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}
.article-area{
    flex: 1;

}
.article-title{
    font-size: 52px;
}
.article-body{
    font-size: 16px;
}
.button{
    padding: 10px, 24px, 10px, 24px;
    Width: 196px;
    Height: 44px;
    border-radius: 41px;
}
.figure-area{
    flex: 1;
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 60%;

}